.Action {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: translate3d(0, 30px, 0);
  transition: all 0.3s ease-in-out;
  width: 100px;
  background: white;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0px 1px 3px 0px rgba(84, 82, 82, 0.31);
}

.Action.opened {
  opacity: 1;
  pointer-events: all;
  transform: translate3d(0, 0, 0);
}
